# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
chipo.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

### Step 4. How many products cost more than $10.00?

In [25]:
c = chipo
c['price'] = c['item_price'].apply(lambda x: float(x[1:]))
# c.drop_duplicates(['item_name', 'quantity', 'choice_description'])
c[c['price']>10]

      order_id  quantity  ... item_price  price
4            2         2  ...    $16.98   16.98
5            3         1  ...    $10.98   10.98
7            4         1  ...    $11.75   11.75
13           7         1  ...    $11.25   11.25
23          12         1  ...    $10.98   10.98
39          19         1  ...    $11.75   11.75
42          20         1  ...    $11.25   11.25
43          20         1  ...    $11.75   11.75
45          21         1  ...    $10.98   10.98
52          24         1  ...    $10.98   10.98
57          26         1  ...    $11.25   11.25
58          27         1  ...    $11.75   11.75
62          28         1  ...    $11.25   11.25
68          30         1  ...    $10.98   10.98
79          35         1  ...    $11.25   11.25
90          40         1  ...    $11.75   11.75
91          40         1  ...    $11.75   11.75
93          41         1  ...    $11.75   11.75
97          43         1  ...    $11.75   11.75
123         54         1  ...    $11.25   11.25
130         57         1  ...    $11.75   11.75
134         59         1  ...    $10.98   10.98
135         60         2  ...    $22.50   22.50
136         61         1  ...    $11.75   11.75
138         62         1  ...    $11.25   11.25
140         63         1  ...    $11.25   11.25
142         64         1  ...    $11.25   11.25
143         64         1  ...    $11.25   11.25
144         65         1  ...    $11.75   11.75
147         66         1  ...    $11.48   11.48
...        ...       ...  ...        ...    ...
4504      1791         1  ...    $11.75   11.75
4506      1792         1  ...    $11.25   11.25
4510      1793         1  ...    $11.49   11.49
4518      1796         1  ...    $11.75   11.75
4521      1798         1  ...    $11.25   11.25
4523      1798         1  ...    $11.75   11.75
4533      1802         1  ...    $11.25   11.25
4540      1805         1  ...    $11.25   11.25
4553      1810         1  ...    $11.25   11.25
4554      1810         1  ...    $11.75   11.75
4556      1811         1  ...    $11.25   11.25
4559      1812         1  ...    $11.25   11.25
4561      1813         2  ...    $17.50   17.50
4564      1815         1  ...    $11.25   11.25
4576      1820         1  ...    $11.25   11.25
4580      1822         1  ...    $11.25   11.25
4586      1824         1  ...    $11.25   11.25
4587      1824         1  ...    $11.25   11.25
4589      1825         1  ...    $11.25   11.25
4590      1825         1  ...    $11.25   11.25
4592      1825         1  ...    $11.75   11.75
4593      1825         1  ...    $11.75   11.75
4594      1825         1  ...    $11.75   11.75
4607      1829         1  ...    $11.75   11.75
4608      1829         1  ...    $11.25   11.25
4610      1830         1  ...    $11.75   11.75
4611      1830         1  ...    $11.25   11.25
4617      1833         1  ...    $11.75   11.75
4618      1833         1  ...    $11.75   11.75
4619      1834         1  ...    $11.25   11.25

[1130 rows x 6 columns]

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [32]:
chipo.head()
chipo[['item_name', 'price']].head()

                               item_name  price
0           Chips and Fresh Tomato Salsa   2.39
1                                   Izze   3.39
2                       Nantucket Nectar   3.39
3  Chips and Tomatillo-Green Chili Salsa   2.39
4                           Chicken Bowl  16.98

### Step 6. Sort by the name of the item

In [38]:
chipo.sort_values(by='item_name').head()

      order_id  quantity  ... item_price  price
3389      1360         2  ...    $12.98   12.98
341        148         1  ...     $6.49    6.49
1849       749         1  ...     $6.49    6.49
1860       754         1  ...     $6.49    6.49
2713      1076         1  ...     $6.49    6.49

[5 rows x 6 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [43]:
chipo.sort_values(by='price', ascending=False).head(1)

      order_id  quantity  ... item_price  price
3598      1443        15  ...    $44.25   44.25

[1 rows x 6 columns]

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [65]:
len(chipo[chipo['item_name'] == 'Veggie Salad Bowl'])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [69]:
len(chipo[chipo['item_name']=='Canned Soda'][chipo['quantity']>1])

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

20